@charset "UTF-8";

#slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 700px;
    padding: 0;
}

#slider .text {
    width: 1140px;
    margin: 250px auto 0;
    z-index: 1;
}

#slider .text h5 {
    font-size: 1.6em;
    font-weight: bold;
    color: rgb(255, 238, 243);
    margin-bottom: -5px;
}

#slider .text h1 {
    font-size: 110px;
    color: rgba(255, 255, 255, 0.966);
    font-weight: lighter;
}

#slider .text h1 span {
    margin-right: -10px;
    font-weight: normal;
    font-size: 110px;
    color: rgb(255, 255, 255);
}

#slider .images {
    position: absolute;
    width: 300%;
    height: 700px;
    top: 0; left: 0;
    display: flex;
    z-index: -1;    
}

#slider .images .item {
    position: relative;
    width: calc(100% / 3);
    height: 700px;
}
#slider .images .item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

#slider .images > .item:nth-child(1) { background: linear-gradient(135deg, #ff5eafa8, #4b7bd4a6) }
#slider .images > .item:nth-child(1)::before { background-image: url(../images/slide1.jpg) }

#slider .images > .item:nth-child(2) { background: linear-gradient(135deg, rgba(146, 84, 196, 0.658), #3377f56e) }
#slider .images > .item:nth-child(2)::before { background-image: url(../images/slide2.jpg) }

#slider .images > .item:nth-child(3) { background: linear-gradient(135deg, rgba(146, 84, 196, 0.658), #3377f56e) }
#slider .images > .item:nth-child(3)::before { background-image: url(../images/slide3.jpg) }

#slider .process {
    position: relative;
    width: 1140px;
    height: 15px;
    margin: 30px auto 0;
    padding: 0 10px;
}

#slider .process .btn {
    border-radius: 50%;
    display: inline-block;
    padding: 0;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: #fff;
    cursor: pointer;
}

#slider .process .btn.active {
    border-radius: 2px;
    transform: rotate(45deg) scale(1);
    background-color: rgb(181, 233, 61);
    transition: transform 0.3s;
}

#slider .process .btn.active:hover {
    transform: rotate(45deg) scale(1.2);
    transition: transform 0.4s;
}